.header {
  display: flex;
  align-items: flex-start;
}

.headerTitle {
  /* flex: 1; */
  width: 52%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  color: var(--main-black-color);
  text-transform: lowercase;
}
