/* .App {
  font-family: sans-serif;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  --main-red-color: #e06262;
  --main-black-color: #484848;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.add-btn.main-black-color:active {
  text-shadow: 1px 1px 2px var(--main-black-color);
}

.add {
  padding: 16px;
}

.add-form {
  display: flex;
  align-items: flex-start;
}

.add-input {
  background: unset;
  border: unset;
  padding: 0 64px;
  flex: 1;
  border-bottom: 1px solid var(--main-red-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: lowercase;
}

.add-btn {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  padding: 16px;
  padding-right: unset;
  cursor: pointer;

  background: unset;
  border: unset;
  outline: unset;
  font-weight: 800;
}

.todos {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todo-placeholder-text {
  font-family: "Roboto", sans-serif;
  color: #484848;
  font-weight: initial;
  font-size: 22px;
  text-align: center;
  padding: 16px;
}

.add-button-placeholder-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}
